---
import Button from "./ui/Button.astro";

const { images, label, source, bgButton, bgButtonHover, txtButton, txtHover } = Astro.props;
---

<div class="py-16 space-y-16">
    <div class="embla">
        <div class="embla__container">
            {images.map(( src: string, i: number ) => (
                <img src={src} alt={`slide ${i + 1}`} class="w-100" />
            ))}
        </div>

        {source ? (
            <img src={source} class="w-140 absolute left-0 -translate-y-1/2 -z-10" />
        ) : (
            <img src="./assets/wave_1.png" class="w-200 absolute right-0 -translate-y-8/12 -z-10" />
        )}
    </div>

    <div class="grid justify-self-center ">
        <!-- <Button 
            label={label} 
            
            bgButton="#aerff"
            bgButtonHover="#e120ff"

            txtButton="white"
            txtHover="white"
        /> -->

        <Button 
            label={label}
            bgButton={bgButton}
            bgButtonHover={bgButtonHover}
            txtButton={txtButton}
            txtHover={txtHover}
        />
    </div>
</div>

<style>
    .embla {
        padding: 0 3rem;
        overflow: hidden;
        width: 100%;
    }

    .embla__container {
        display: flex;
        gap: 28px;
    }
</style>

<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".embla").forEach((emblaNode) => {
            const autoplay = EmblaCarouselAutoplay({ delay: 5000 }); 
            const emblaApi = EmblaCarousel(
                emblaNode,
                {
                    loop: false,
                    dragFree: true,
                    align: "start",
                },
                /* [autoplay] */
            );
            console.log("Embla con autoplay iniciado:", emblaApi.slideNodes());
        });
    });
</script>