---
import Icon from "./Icon.astro";

const socialLinks = [
    { name: "facebook", link: "https://www.facebook.com" },
    { name: "instagram", link: "https://www.instagram.com" },
];

const planigrupo = [
    {label: 'Nosotros', link: 'https://planigrupo.com.mx/nosotros/'},
    {label: 'Portafolio', link: 'https://planigrupo.com.mx/portafolio/'},
    {label: 'Comercializacion', link: 'https://planigrupo.com.mx/comercializacion/'},
    {label: 'Inversionistas', link: 'https://planigrupo.com.mx/inversionistas/'},
    {label: 'Contacto', link: 'https://planigrupo.com.mx/contacto/'},
]

const siteMap = [
    {label: 'Directorio', link: '/directorio'},
    {label: 'Eventos', link: '/anuncios'},
    {label: 'Anuncios', link: '/anuncios'},
    {label: 'Contacto', link: '/contacto'},
]
---

<div class="relative mt-16 bg-deep-purple-accent-400">
        <svg class="absolute top-0 w-full h-6 -mt-5 sm:-mt-10 sm:h-16 text-deep-purple-accent-400" preserveAspectRatio="none" viewBox="0 0 1440 54">
        <path fill="#FE5D9F" d="M0 22L120 16.7C240 11 480 1.00001 720 0.700012C960 1.00001 1200 11 1320 16.7L1440 22V54H1320C1200 54 960 54 720 54C480 54 240 54 120 54H0V22Z"></path>
    </svg>

    <div class="bg-[#FE5D9F] px-4 pt-10 mx-auto space-y-6">
        <div>
            <div class="flex gap-12 items-center justify-center flex-col lg:flex-row">
                <a href="/" class=""><img src="../logo-pg.png" alt="planigrupo logo" class="w-64" /></a>
                <a href="/" class=""><img src="../logo.png" alt="planigrupo logo" class="w-24" /></a>
            </div>

            <div class="text-white grid justify-self-center mt-8 gap-16 grid-cols-2 lg:gap-6 lg:grid-cols-3">
                <!-- Planigrupo -->
                <div>
                    <p class="font-semibold tracking-wide text-teal-accent-400"> Planigrupo </p>
                    {planigrupo.map(p => (
                        <div class="mt-2 space-y-2 grid w-fit">
                            <a 
                                href={p.link} 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                class="hover:underline transition-colors duration-300 text-deep-purple-50 hover:text-teal-accent-400"
                            > 
                                {p.label}
                            </a>
                        </div>
                    ))}
                </div>

                <!-- Mapa del Sitio -->
                <div>
                    <p class="font-semibold tracking-wide text-teal-accent-400"> Mapa del Sitio </p>
                    <div class="mt-2 space-y-2 grid w-fit">
                    {siteMap.map(p => (
                        <div class="mt-2 space-y-2 grid w-fit">
                            <a 
                                href={p.link} 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                class="hover:underline transition-colors duration-300 text-deep-purple-50 hover:text-teal-accent-400"
                            > 
                                {p.label}
                            </a>
                        </div>
                    ))}
                    </div>
                </div>

                <!-- Contacto -->
                <div class="lg:w-80">
                    <p class="font-semibold tracking-wide text-teal-accent-400"> Contacto </p>
                    <div class="mt-2 space-y-2 grid w-fit">
                        <span> Lunes a Domingo de 9:00 am - 10:00 pm </span>

                        <a href="/" class="hover:underline transition-colors duration-300 text-deep-purple-50 hover:text-teal-accent-400"> 
                            Av. Eugenio Garza Sada Sur 3431, Sin Nombre de Col 42, 64845 Monterrey, N.L.
                        </a>
                        
                        <a href="/" class="hover:underline transition-colors duration-300 text-deep-purple-50 hover:text-teal-accent-400"> 
                            +52 (818)-387-3888
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-pink-700 relative w-full h-0.5" />

        <div class="flex flex-col justify-between pb-6 px-10 lg:px-16 sm:flex-row">
            <p class="text-sm text-gray-100">
                &copy; {new Date().getFullYear()} Planigrupo | <a href="https://planigrupo.com.mx/aviso-de-privacidad/" class="underline"> Aviso De Privacidad </a>
            </p>

            <div class="flex items-center mt-4 space-x-4 sm:mt-0">
                {socialLinks.map(({ name, link }) => (
                    <a href={link} target="_blank" rel="noopener noreferrer">
                        <Icon name={name} class="size-6 text-white hover:text-gray-600 transition" />
                    </a>
                ))}
            </div>
        </div>
    </div>
</div>